.home {
	// height: calc(100vh - 100px);

	&__container {
		// height: 100vh;
		// display: flex;
		// justify-content: center;
		// flex-direction: column;
		padding: 1em;
	}

	&__img {
		width: 100%;

		&--desktop {
			display: none;
		}
	}

	&__title {
		font-size: 3rem;
		margin-bottom: 0.5em;
	}

	&__text {
		font-size: 1.4rem;
	}
}

@media (min-width: 576px) {
	.home {
		&__img {
			display: none;

			&--desktop {
				display: block;
			}
		}

		&__title {
			font-size: 3.6rem;
		}

		&__text {
			font-size: 1.6rem;
		}
	}
}

@media (min-width: 768px) {
	.home {
		&__title {
			font-size: 4rem;
		}
	}
}

@media (min-width: 992px) {
	.home {
		&__container {
			display: flex;
		}

		&__img {
			width: 50%;
			display: block;

			&--desktop {
				display: none;
			}
		}

		&__box {
			padding: 1em;
			padding-left: 3em;
			width: 50%;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		&__btn {
			align-self: flex-start;
		}

		&__title {
			font-size: 4.4rem;
		}
	}
}

@media (min-width: 1200px) {
	.home {
		&__box {
			padding: 1em;
			padding-left: 5em;
		}

		&__title {
			font-size: 5rem;
		}
	}
}

.buy {
	&__title,
	&__text {
		text-align: center;
	}

	&__img-box {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		// grid-template-rows: repeat(2, 1fr);
	}

	&__img {
		margin: 1em;
		position: relative;
		grid-column: 1/-1;
		height: 500px;
		background-image: url("../img/home/home5.jpg");
		background-size: cover;
		background-position: center;
		border-radius: 6px;

		&--second {
			background-image: url("../img/home/home4.png");
		}

		button {
			position: absolute;
			left: 0.5em;
			bottom: 0.5em;
		}
	}
}

@media (min-width: 576px) {
	.buy {
		&__title {
			font-size: 3.6rem;
		}

		&__text {
			font-size: 1.6rem;
		}
	}
}

@media (min-width: 768px) {
	.buy {
		&__title {
			font-size: 4rem;
		}
	}
}

@media (min-width: 992px) {
	.buy {
		&__title {
			font-size: 4.4rem;
		}

		&__img {
			grid-column: 1/4;

			&--second {
				grid-column: 4/5;
				background-image: url("../img/home/home3.jpg");
			}
		}
	}
}

@media (min-width: 1200px) {
	.buy {
		&__title {
			font-size: 5rem;
		}
	}
}
