@use "../abstracts/" as *;

.nav-mobile {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateX(-100%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	z-index: 10;
	color: #000;
	transition: transform 0.3s;

	@keyframes navMobileItems {
		from {
			transform: translateX(-200%);
		}
		to {
			transform: translateX(0);
		}
	}

	&__item {
		display: none;
		width: 40%;
		margin: 0.5em 0;
		font-size: 2rem;
		font-weight: bold;
		transition: filter 0.3s;
		transform: translateX(-200%);

		&:nth-child(1) {
			animation: navMobileItems 0.8s forwards;
		}
		&:nth-child(2) {
			animation: navMobileItems 0.8s 0.2s forwards;
		}
		&:nth-child(3) {
			animation: navMobileItems 0.8s 0.4s forwards;
		}
		&:nth-child(4) {
			animation: navMobileItems 0.8s 0.6s forwards;
		}
		&:nth-child(5) {
			animation: navMobileItems 0.8s 0.8s forwards;
		}

		&:hover {
			cursor: pointer;
			filter: brightness(0.7);
		}

		&--active {
			display: block;
		}
	}

	&--active {
		transform: translateX(0);
	}
}

.nav {
	position: fixed;
	z-index: 100;

	.hamburger {
		width: 100px;
		height: 100px;

		&-inner,
		&-inner::before,
		&-inner::after {
			background-color: #fff;
		}
	}

	&__item {
		display: none;
	}
}

@media (min-width: 576px) {
	.nav-mobile {
		&__item {
			font-size: 3rem;
		}
	}
}

@media (min-width: 768px) {
	.nav-mobile {
		&__item {
			font-size: 3.4rem;
		}
	}
}

@media (min-width: 992px) {
	.nav {
		width: 100%;
		height: 100px;
		// background-color: red;
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: color 0.3s, background-color 0.3s;

		.hamburger {
			display: none;
		}

		&__item-box {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__item {
			display: block;
			margin: 0 1em;
			color: #fff;
			font-size: 1.4rem;
			font-weight: bold;
			transition: filter 0.3s, scale 0.3s;

			&:hover {
				cursor: pointer;
				filter: brightness(0.7);
			}

			&:active {
				scale: 0.8;
			}
		}

		&--subpage {
			background-color: $darker-bg-color;
			.nav__item {
				color: $text-color;
			}
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		&__item {
			margin: 0 2em;
			font-size: 1.6rem;
		}
	}
}

// ****************************OTHER******************************

.nav-bar-active {
	overflow: hidden;
}

.navBg {
	background-color: $darker-bg-color;
	.nav__item {
		color: $text-color;
	}
}
