@use "../abstracts/" as *;

body {
	font-family: "Open Sans", sans-serif;
	color: $text-color;
	background-color: $bg-color;
	text-wrap: balance;
}

//==============
// MISC
//==============

// ****************************WRAPPER****************************

.wrapper {
	border: 1px solid red;
	width: 100%;
	margin: 0 auto;
}

@media (min-width: 576px) {
	.wrapper {
		width: 540px;
	}
}

@media (min-width: 768px) {
	.wrapper {
		width: 720px;
	}
}

@media (min-width: 992px) {
	.wrapper {
		width: 960px;
	}
}

@media (min-width: 1200px) {
	.wrapper {
		width: 1140px;
	}
}

@media (min-width: 1400px) {
	.wrapper {
		width: 1320px;
	}
}

// ****************************OTHER******************************

.horizontal-line {
	height: 4px;
	width: 20%;
	margin: 0.5em 0;
	background: $main-gradient-horizontal;
	border-radius: 6px;
}

.vertical-line {
	width: 4px;
	height: 100px;
	margin: 0.5em 0;
	background: $main-gradient-vertical;
	border-radius: 6px;
}

.btnDefault {
	margin: 0.5em 0;
	padding: 0.5em 3em;
	border-radius: 6px;
	font-size: 1.6rem;
	font-weight: bold;
	color: #fff;
	background-color: $main-color;
	transition: background-color 0.3s;

	&:hover {
		background-color: $secondary-color;
	}
}
